# Python
__pycache__/
*.pyc
*.pyo
.venv/
venv/
env/

# IDE
.vscode/
.idea/

# Environment variables (NEVER commit these)
.env
.env.local

# Data files (too big for GitHub)
data/raw/
data/processed/
*.db
*.sqlite

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# Node / React
frontend/node_modules/
frontend/build/
frontend/.env.local